form {
  margin: 5% 25% 0% 25%;
  div {
    padding: 5%;
  }
  label {
    padding: 5%;
  }
}

button {
  background-color: whitesmoke;
  padding: .75rem;
  border: none;
  box-shadow: -5px 5px 10px black;
  transition: transform 0.4s;
  margin: 0rem 1rem 1rem 1rem;
  &:active {
    transform: translateY(5px);
  }
}
